Diagnostics:
  ClangTidy:
    Add: ["*"]
    Remove:
      [
        abseil*,
        altera*,
        bugprone-easily-swappable-parameters,
        cert-dcl21-cpp,
        cert-env33-c,
        cert-err33-c,
        cert-err58-cpp,
        concurrency-mt-unsafe,
        cppcoreguidelines-avoid-c-arrays,
        cppcoreguidelines-avoid-magic-numbers,
        cppcoreguidelines-avoid-non-const-global-variables,
        cppcoreguidelines-owning-memory,
        fuchsia*,
        hicpp-avoid-c-arrays,
        llvmlib*,
        llvm-include-order,
        llvm-qualified-auto,
        google-readability-todo,
        misc-no-recursion,
        modernize-avoid-c-arrays,
        modernize-use-trailing-return-type,
        modernize-use-nodiscard,
        readability-function-cognitive-complexity,
        readability-implicit-bool-conversion,
        readability-magic-numbers,
        readability-qualified-auto,
        zircon*,
      ]
    CheckOptions:
      readability-identifier-length.IgnoredVariableNames: ^[n]$|ch|_|id|to|t|u
      readability-identifier-length.IgnoredParameterNames: ^[n]$|ch|_|id|to|t|u
  UnusedIncludes: Strict
Index:
  Background: Build
  StandardLibrary: Yes
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
